.imageContainer{
    position: relative;
    grid-area: image;
    display: flex;
    justify-content: space-evenly;
}
.imagesList{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.imageTiny{
    cursor: pointer;
    aspect-ratio: auto;
}
.imageTiny:hover{
    transform: scale(1.1);
}
.image {
    object-fit: cover;
}
.array{
    grid-area: array;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.array_price_title{
    font-size: 18px;
    text-align: left;
    font-weight: 300;
}

/* Bonus Vidéo */
.containerIcon{
    height: fit-content;
    width: fit-content;
    border: solid;
    border-radius: 50%;
}
.iframeContainer {
    position: relative;
    width: fit-content;
    height: fit-content;
}
.iframeVideoBonus  {
    position: absolute;
    min-height: 169px;
    background: black;
    border: none;
}
.closeVideo {
    z-index: 2;
    border-radius: 50%;
    background: red;
    position: absolute;
    left: 0%;
}
.closeVideo * {
    fill: white;
}