.footer{
    grid-area: footer;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 36px;
    background: black;
    color: white;
}
.linkFooter > a{
    text-decoration: none;
    color: white;
}
.linkFooter:hover > a{
    text-decoration: underline;
}
.txtFooter{

}
.linkFooter, .txtFooter{
    display: flex;
    flex-direction: column;
    align-items: center;
}