.suggestions {
    padding: 15px 0;
}

.containerListOtherItems {
    max-width: 1026px;
    width: 100%;
    position: relative;
}
.listCarroussel{
    min-height: 500px;
    min-width: 80%;
    scroll-behavior: smooth;
    transition-duration: 490ms;
    padding: 15px 12px;
    display: flex;
    position: relative;
    gap: 1.35rem;
    overflow-x: scroll;
    overflow-y: hidden;
    border: none 
    
}
.arrows{
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: -10px;right: -10px;
    top: calc(50%);
    height: 0px;
    /* width: 100%; */
}
.arrows button{
    transition-duration: 250ms;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-button);
    background: var(--color-background-button);
    padding: 18px;
    height: 55px;
    width: 52px;
    font-size: 1.5rem;
    border: solid 1px rgba(0,0,0,.1);
    border-radius: 12px;
    opacity: 0.3;
}
.arrows button:hover{
    opacity: 0.9;
    background: var(--color-background-button-hover);
    color: var(--color-button-hover);
}

.listCarroussel::-webkit-scrollbar{
    background: none;
    height: 8px;
}
.listCarroussel::-webkit-scrollbar-thumb:hover{
    background: var(--color-scrollbar-btn);

}
.listCarroussel::-webkit-scrollbar-thumb{
    background: none;
}
.litsItemCarroussel{
    position: relative;
    background: var(--color-back-cards);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
    padding: 20px 12px;
    max-width: 298px;
    max-height: 490px;
    height: 490px;
    min-width: 293px;
    border: solid 1px var(--color-border) ;
    border-radius: .5rem;
    box-shadow: 0 0 10px -6px var(--color-box-shadow);
    transition-duration: 200ms;
    /* outline: solid; */
}
.t{
    /*test*/
    background: red;
    font-weight: 900;
}
.litsItemCarroussel>img{
    position: relative;
    object-fit: cover;
    aspect-ratio: 4/3;
    width: 90%;
    height: auto;
}
.litsItemCarroussel:hover{
    transform: scale(1.008);
    box-shadow: 0 0 10px -2px var(--color-box-shadow);

}
.litsItemCarroussel>* {
    padding: 8px 0;
}
.litsItemCarroussel>*:last-child{
    padding: 8px 0 0;
} 
.LinkProduit {
    display: contents;
    /* width: fit-content; */
    text-decoration: none;
}
.prix {
    /* color: var(--color-second); */
    font-weight: 900;
    font-size: 1.2rem;
}
.btnContainer {
    padding: 8px 0;
    display: flex;
    gap: 1rem;
}
/*page pc portable*/

.listItemsResult{
    /* .listCarousel*/
    width: 100%;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
}
.resultSearchContainer{
    background: var(--color-back);
    padding: 50px;
    /* width: 80%; */
    min-width: 80%;
    min-height: 80vh;
    width: calc(100% - 100px);
}

.spanTags, .spanTagsTitle {
    font-weight: 600;
}
.spanTags {
    font-size: 1.05rem;
}


.btnContainer{
    position: relative;
}

.listMarquesSearch {
    padding: 8px;
    list-style: none;
    display: flex;
    gap: 1.5rem;
}
.listMarquesSearch li{
    cursor: pointer;
    border: 1px solid;
    padding: 8px;
}
.btn{
    list-style: none;
    height: fit-content;
    padding: 5px 0;
}
.btn button{
    transition-duration: 200ms;
    border-radius: 8px;
    border: none;
    padding: 9px 12px;
    font-size: 1.13rem;
    font-weight: 300;
    outline: solid transparent 1px;

}
.btn button:hover {
    outline: solid rgba(0,0,0,.4) 1px;
}
.contentSearchByBtn{
    position: relative;
    height: max-content;
}
.containerBtn {
    min-height: max-content;
}
.contentBtn{
    position: relative;
    height: max-content;
    width: 100%;
}
.contentBtn>.childCtBtn{
    position: relative;
    right: 0;left: 0;
    padding: 18px 8px;
}




.contentModalFound{
    position: relative;
    display: flex;
    gap:.5rem;
    padding: 25px 3px;
}
.triezPar{

}
.spanFoundBy {
    font-weight: 600;
    cursor: pointer;
}
.listFoundBy{
    top: 45px;
    left: 4px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    background: var(--color-back);
    position: absolute;
    list-style: none;
    padding: 15px;
    border-radius: 25px;
    border: solid rgba(0,0,0,.2) 1px ;
    gap: .5rem;
}
.listFoundByNote{
    left: 70px;
}
.listFoundBy > li{
    padding: 10px;
    border-radius: 15px;
}
.listFoundBy > li:hover{
    background: rgba(231,231,231,1);
}


/* affilizz */
div.affilizz-cta > a {
    padding: 0;
}

@media screen and (max-width:1369px) {
    .listCarroussel{
        /* padding: 5px 15px;
        flex-direction: column; */
        overflow-y: scroll;
        overflow-x: hidden;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .listItemsResult{
        display: flex;
        justify-content: center;
        max-width: 100%;
        flex-flow: wrap;
        align-items: center;
    }
    .arrows{
        display: none;
    }
}