.main {
  background: var(--color-back-main);
  position: sticky;
  top: var(--height-header);
  grid-area: content;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  align-items: center;
  max-width: 100%;
  /* padding: 6rem; */
  min-height: calc(100vh - var(--height-header));
}
.mainContent{
  background: var(--color-back-main);

  max-width: 91%;
}
.titlePage {
  padding: 25px 0;
}
.top10{
  padding: 5px 0;
}
.listesTop10 {
  list-style: none;
}