.TestContainer {
    transform-origin: top right;
    padding: 8px ;
    transform: translateY(0px);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-duration: 250ms;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    top: 0;
    right: 0;
    position: fixed;
    z-index: 999;
    height: fit-content;
    background: rgba(11, 11, 11, 0.934);
    /* background: rgba(150, 58, 58, 0.934); */

}
.e{
    transform-origin: top right;
    transform: translateY(-04px);
    width: 260px;
    right: 0;
    
}
.button{
    cursor: pointer;

    margin: 8px;
    bottom: 0;
    width: 250px;
    height: 50px;
    background: #f0efef;
    z-index: 1999;
    font-weight: 700;
    font-size: 1.8rem;
    border: none;
    box-shadow: 0 0 12px -4px black;
    transition-duration: 250ms;

}
.button:hover{
    color: white;
    border-radius: 20px;
    font-size: 2rem;
    background: rgb(245, 2, 2);
}