.mainOnBody{
    z-index: 4;
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-areas: 
    "pubtop pubtop pubtop"
    "pubLeft contenu pubRight";
    gap:0;
}
.adsTop{
    grid-area: pubtop;
    height: 90px;
    width: 100%;
    max-width: 728px;
    padding: 0 ;
    margin: auto;
}
.adsTop,.adsLeft, .adsRight{position: relative; background-color:#0E2532;}
.adsTop > img,.adsLeft > img, .adsRight > img{position: fixed;}
.adsLeft, .adsRight{
    width: 160px;
    max-width: 160px;
    margin: 0 auto;
    margin-top: 15px;
    position: relative;
    height: 600px;
}
.adsLeft{
    grid-area: pubLeft;
}
.adsRight{
    grid-area: pubRight;
}
.content {
    grid-area: contenu;
    grid-area: 2 / 2 / 4 / 3;
    max-width: 1125.3px;
    width: 100%;
    min-width: 100%;
    margin: auto;
}
@media screen and (min-width:1640px) {
}
@media screen and (max-width:1369px) {
    
}